<meta charset="utf-8">
<title>Reward, Please!</title>
<!-- ============= FONTS ============= -->
<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" font-family: 'Pokemon Solid', sans-serif>
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/style.css">
