<meta charset="utf-8">
<title>Reward, Please!</title>
<!-- ============= FONTS ============= -->
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"  font-family: 'Indie Flower', cursive>
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/style.css">
