<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" font-family: 'Pokemon Solid', sans-serif>
  </head>
  <body>
      <h1>You Completed Activities and Points Earned:</h1>
      <h2>(You or your parent can delete the activity once you receive your reward.)<h2>
      <ul>
        <% for (let i=0; i < activitiesX.length; i++){ %>
          <li>
            <a href="/activities/<%=activitiesX[i].id%>">
              <%=activitiesX[i].description%>
            </a>
            <form action = "/activities/
            <%=activitiesX[i].id%>?_method=DELETE" method="POST">
            <input type= "submit" value="DELETE"/>
          </form>
          <form action = "/activities/<%=activitiesX[i].id%>/edit">
          <input type= "submit" value="EDIT"/>
          </form>
          </li>
          <%} %>
      </ul>
  </body>
  <nav>
    <a href="/activities/new">Add a New Activity that you Completed!</a><br/>
    <a href="/activities">See List of All Completed Activities</a><br/>
    <a href="/">*Reward, Please!* Top Page</a>
  </nav>
</html>
