<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <header>
      <a href="/" >
        <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
      </a>
    </header>
    <h1>Claim Your Reward!</h1>
    <h3>Choose a game below to play as your reward for completing your checklist!</h3>
    <div class="container">
      <ul>
        <li><a href="https://www.abcya.com" target="_blank">ACBYa</a>
        </li>
        <li><a href="https://www.starfall.com" target="_blank" >Starfall</a>
        </li>
        <li><a href="https://pbskids.org/games" target="_blank">PBS KIDS</a>
        </li>
      </ul>
      <ul>
        <li><a href="http://www.nick.com.au/games" target="_blank">nickelodeon</a>
        </li>
        <li><a href="https://disneynow.com/all-games" target="_blank">Disney NOW</a>
        </li>
      </ul>
      <div class= "goodJob">
        <img src="https://media.istockphoto.com/photos/good-job-note-picture-id183809599?k=20&m=183809599&s=612x612&w=0&h=eHYTB8NfadstCUuq1IkvSFAsUlrFX857CUkaEeX9dEE=" class= "goodJobButton" width="100%">
      </div>
    </div>
    <div class= "extraActivities">
        <a href="/activities"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJX19pvyPpYFJUNlPQrTs8uKlfwRS3-yi1ZC6_nTWAW34ZwLyRoP19GKqWe4ZuT6zya2Y&usqp=CAU" class="extraActivityButton" width="100%"></a>
    </div>
  </body>
</html>
