<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body>
     <h1>Edit this Activity that you Completed!</h1>
     <form action ="/activities/<%=activitiesX.id%>?_method=PUT" method = "POST">
        Description: <input type="text" name="description" value="<%=activitiesX.description%>"/>
        <br/>
        Time Spent on the Activity (total minutes): <input type="text" name="timeSpent" value="<%=activitiesX.timeSpent%>"/>
        <br/>
        <input type="submit" value="Submit Changes">
     </form>
  </body>
  <nav>
    <a href="/activities/new">Add a New Activity that you Completed!</a><br/>
    <a href="/activities">See List of All Completed Activities</a><br/>
    <a href="/">*Reward, Please!* Top Page</a>
  </nav>
</html>
