<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <header>
      <a href="/" >
        <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
      </a>
    </header>
    <h1>Reward, Please!</h1>
    <h3>Kids become more responsible and get rewarded for it!</h3>
    <div class="container">
      <form class="morningChecklist">
        Morning Checklist:
        <br/>
        <input type="checkbox" class = "checkBox"> Eat breakfast
        <br/>
        <input type="checkbox" class = "checkBox"> Go to the toilet
        <br/>
        <input type="checkbox" class = "checkBox"> Get dressed
        <br/>
        <input type="checkbox" class = "checkBox"> Brush hair
        <br/>
        <input type="checkbox" class = "checkBox"> Brush teeth
        <br/>
        <a href="/checklist_reward">
          <img src="http://www.clker.com/cliparts/v/c/G/q/s/h/done-button-png-md.png" class = "done" width ="40%">
        </a>
      </form>
      <br/>
      <form class="beforeBedChecklist">
        Before-Bed Checklist:
        <br/>
        <input type="checkbox" class = "checkBox"> Homework
        <br/>
        <input type="checkbox" class = "checkBox"> Go to the toilet
        <br/>
        <input type="checkbox" class = "checkBox"> Bath/Shower
        <br/>
        <input type="checkbox" class = "checkBox"> Pajamas on
        <br/>
        <input type="checkbox" class = "checkBox"> Brush teeth
        <br/>
        <a href="/checklist_reward">
          <img src="http://www.clker.com/cliparts/v/c/G/q/s/h/done-button-png-md.png" class = "done" width ="19%">
        </a>
      </form>
    </div>
    <div class= "extraActivities">
        <p class ="extraExplanation">Want ice  cream? That’s 30 points!
        A new game app is 100 points!
        How about going to see a movie?
        Earn 120 points and it’s a date!
        Click “More” to earn points. --> </p><a href="/activities"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJX19pvyPpYFJUNlPQrTs8uKlfwRS3-yi1ZC6_nTWAW34ZwLyRoP19GKqWe4ZuT6zya2Y&usqp=CAU" class="extraActivityButton" width="100%"></a>
    </div>
  </body>
</html>
