<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Reward, Please!</h1>
    <h3>Kids can become more responsible, more helpful, and get rewarded for it!</h3>
    <div class="container">
      <div class="morningChecklist">
        Morning Checklist:
        <br/>
        <input type="checkbox"/> Eat breakfast
        <br/>
        <input type="checkbox"/> Go to the toilet
        <br/>
        <input type="checkbox"/> Get dressed
        <br/>
        <input type="checkbox"/> Brush hair
        <br/>
        <input type="checkbox"/> Brush teeth
        <br/>
        <input type="submit" class="submit" value="Finished!">
      </div>
      <div class="beforeBedChecklist">
        Before-Bed Checklist:
        <br/>
        <input type="checkbox"/> Homework
        <br/>
        <input type="checkbox"/> Go to the toilet
        <br/>
        <input type="checkbox"/> Bath/Shower
        <br/>
        <input type="checkbox"/> Pajamas on
        <br/>
        <input type="checkbox"/> Brush teeth
        <br/>
        <input type="submit" class="submit" value="Finished!">
      </div>
    </div>
    <div class= "extraActivities">
        <button class="extraActivityButton"><a href="/activities">Extra Activities!</a>
        </button>
    </div>
  </body>
</html>
