<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
      <h1>Reward, Please!</h1>
      <h2>Kids can become more responsible, more helpful, and get rewarded for it!<h2>
  </body>
  <nav>
    <a href="/activities/new">Add a New Activity that you Completed!</a><br/>
    <a href="/activities">See List of All Completed Activities</a><br/>
    <a href="/">*Reward, Please!* Top Page</a>
  </nav>
</html>
