<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
      <h1>Reward, Please!</h1>
      <h2>Kids can become more responsible, more helpful, and get rewarded for it!<h2>
      <br/>
      <a href="/activities/new" class="new">Add a New Activity that you Completed!</a>
      <br/>
      <a href="/activities" class= "list">See List of All Completed Activities</a>
      <br/>
  </body>
  <footer>
    <a href="/" >
      <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
    </a>
  </footer>
</html>
