<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" font-family: 'Pokemon Solid', sans-serif>
  </head>
  <body>
      <h1>Reward, Please!</h1>
      <h2>Kids can become more responsible, more helpful, and get rewarded for it!<h2>
  </body>
  <nav>
  <a href="/activities/new">Add an Activity that you Completed!</a>
  </nav>
</html>
