<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Reward, Please!</h1>
    <h3>Kids can become more responsible, more helpful, and get rewarded for it!</h3>
    <div class="container">
      <form action ="https://www.starfall.com" target="_blank" class="morningChecklist">
        Morning Checklist:
        <br/>
        <input type="checkbox" name="breakfast"/> Eat breakfast
        <br/>
        <input type="checkbox" name="toilet"/> Go to the toilet
        <br/>
        <input type="checkbox" name="dressed"/> Get dressed
        <br/>
        <input type="checkbox" name="hair"/> Brush hair
        <br/>
        <input type="checkbox" name="teeth"/> Brush teeth
        <br/>
        <img src="http://www.clker.com/cliparts/v/c/G/q/s/h/done-button-png-md.png" class = "done" width ="51%">
      </form>
      <div class= "goodJob">
          <img src="https://media.istockphoto.com/photos/good-job-note-picture-id183809599?k=20&m=183809599&s=612x612&w=0&h=eHYTB8NfadstCUuq1IkvSFAsUlrFX857CUkaEeX9dEE=" width="100%">
      </div>
      <form action ="https://www.starfall.com" target="_blank" class="beforeBedChecklist">
        Before-Bed Checklist:
        <br/>
        <input type="checkbox"/> Homework
        <br/>
        <input type="checkbox"/> Go to the toilet
        <br/>
        <input type="checkbox"/> Bath/Shower
        <br/>
        <input type="checkbox"/> Pajamas on
        <br/>
        <input type="checkbox"/> Brush teeth
        <br/>
        <img src="http://www.clker.com/cliparts/v/c/G/q/s/h/done-button-png-md.png" class = "done" width ="25%">
      </form>
    </div>
    <div class= "extraActivities">
        <a href="/activities"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJX19pvyPpYFJUNlPQrTs8uKlfwRS3-yi1ZC6_nTWAW34ZwLyRoP19GKqWe4ZuT6zya2Y&usqp=CAU" class="extraActivityButton" width="100%"></a>
    </div>
  </body>
</html>
