  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <%-include('./partials/head.ejs')%>
    </head>
    <body>
      <h1>Add an Activity You Completed!</h1>
      <form action ="/activities" method="POST">
       Date/Time: <input type="text" name="dateTime"/>
       <br/>
       Description: <input type = "text"  name = "description"/><br/>
       Time Spent on the Activity: <input type = "text" name = "timeSpent"/> minutes<br/>
       <input type = "submit"  value = "Add Activity"/>
      </form>
    </body>
    <footer>
      <a href="/" >
        <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
      </a>
    </footer>
  </html>
