  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>New Pokemon</title>
      <link rel="stylesheet" href="/style.css">
      <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" font-family: 'Pokemon Solid', sans-serif>
    </head>
    <body>
      <h1>Create New Pokemon</h1>
      <form action ="/pokemon" method="POST">
       ID: <input type = "text"  name = "id" / ><br/>
       Name: <input type = "text"  name = "name" / ><br/>
       Image: <input type= "img"  name= "color" /><br/>
       Type: <input type = "text" name = "type"/><br/>
       <input type = "submit" value = "Create Pokemon"/>
    </form>
    </body>
  </html>
