  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <%-include('./partials/head.ejs')%>
    </head>
    <body>
      <header>
        <a href="/" >
          <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
        </a>
      </header>
      <h1>Add an Activity You Completed!</h1>
      <form action ="/activities" method="POST" class= "input">
       Date/Time of the Activity: <input type="text" name="dateTime" class= "inputField"/>
       <br/>
       Description of the Activity: <input type = "text"  name = "description" class= "inputField"/><br/>
       Time Spent on the Activity: <input type = "text" name = "timeSpent" class= "inputField"/> minutes<br/>
       <input type = "submit"  class= "submit" value = "Add Activity"/>
      </form>
    </body>
  </html>
