  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <%-include('./partials/head.ejs')%>
    </head>
    <body>
      <header>
        <a href="/" >
          <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
        </a>
      </header>
      <h1>Add a Completed Activity!</h1>
      <form action ="/activities" method="POST" class= "input">
        Day of the Activity:
          <br/>
          <input type="radio" name="day" value="Sunday">Sunday
          <input type="radio" name="day" value="Monday">Monday
          <input type="radio" name="day" value="Tuesday">Tuesday
            <br/>
          <input type="radio" name="day" value="Wednesday">Wednesday
          <input type="radio" name="day" value="Thursday">Thursday
          <input type="radio" name="day" value="Friday">Friday
          <input type="radio" name="day" value="Saturday">Saturday
        <br/>
        <br/>
        Description of the Activity:
         <input type = "text"  name = "description" class="inputField"/>
        <br/>
        <br/>
        Time Spent on the Activity:
        <input type = "text" name = "timeSpent" class= "inputField"/> minutes (also number of points you earn)
        <br/>
        <input type = "submit"  class= "submit" id="newEdit" value = "Add Activity"/>
      </form>
    </body>
    <div class= "extraActivities">
        <p class ="extraExplanation">Some example activities:
        <br/>washing dishes, hanging laundry, vacuuming, helping cook a meal, cleaning up your room, watering plants...</p><a href="/activities"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJX19pvyPpYFJUNlPQrTs8uKlfwRS3-yi1ZC6_nTWAW34ZwLyRoP19GKqWe4ZuT6zya2Y&usqp=CAU" class="extraActivityButton" width="100%"></a>
    </div>
    </div>
  </html>
