  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <%-include('./partials/head.ejs')%>
    </head>
    <body>
      <header>
        <a href="/" >
          <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
        </a>
      </header>
      <h1>Add an Activity You Completed!</h1>
      <form action ="/activities" method="POST" class= "input">
       Description of the Activity:
         <br/>
         <input type="checkbox" name="dishes" class="description"/> Do dishes
         <input type="checkbox" name="vacuum" class="description"/> Vacuum
         <input type="checkbox" name="laundry" class="description"/> Hang laundry
         <input type="checkbox" name="cook" class="description"/> Help cook
        <br/>
         <input type="checkbox" name="tidy" class="description"/> Tidy room
         <input type="checkbox" name="plants" class="description"/> Water plants
         <input type="checkbox" name="other" class="description"/> Other: <input type = "text"  name = "otherActivity" class="inputField"/><br/>
         <br/>
         Day of the Activity: <input type="text" name="day" class= "inputField"/><br/>
         Time Spent on the Activity: <input type = "text" name = "timeSpent" class= "inputField"/> minutes<br/>
        <input type = "submit"  class= "submit" value = "Add Activity"/>
      </form>
    </body>
    <div class= "extraActivities">
        <a href="/activities"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJX19pvyPpYFJUNlPQrTs8uKlfwRS3-yi1ZC6_nTWAW34ZwLyRoP19GKqWe4ZuT6zya2Y&usqp=CAU" class="extraActivityButton" width="100%"></a>
    </div>
  </html>
