  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <%-include('./partials/head.ejs')%>
    </head>
    <body>
      <header>
        <a href="/" >
          <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
        </a>
      </header>
      <h1>Add an Activity You Completed!</h1>
      <form action ="/activities" method="POST" class= "input">
        Description of the Activity:
         <input type = "text"  name = "description" class="inputField"/>
        <br/>
        Day of the Activity:
        <input type="text" name="day" class= "inputField"/>
        <br/>
        Time Spent on the Activity:
        <input type = "text" name = "timeSpent" class= "inputField"/> minutes (also number of points you earn)
        <br/>
        <input type = "submit"  class= "submit" id="newEdit" value = "Add Activity"/>
      </form>
    </body>
    <div class= "extraActivities">
        <a href="/activities"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJX19pvyPpYFJUNlPQrTs8uKlfwRS3-yi1ZC6_nTWAW34ZwLyRoP19GKqWe4ZuT6zya2Y&usqp=CAU" class="extraActivityButton" width="100%"></a>
    </div>
  </html>
