<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body class= "showPage">
    <h1>Activity Completed:</h1>
      </br>
      Description of Activity:<%=activitiesX.description%></br>
      Time Spent on the Activity (total minutes):<%=activitiesX.timeSpent%></br>
  </body>
  <nav>
    <a href="/activities/new">Add a New Activity that you Completed!</a><br/>
    <a href="/activities">See List of All Completed Activities</a><br/>
    <a href="/">*Reward, Please!* Top Page</a>
  </nav>
</html>
