html {font-family: '', sans-serif}

h1 {margin: 0vw 10vw}

.showPage {background-image: url("");
              background-size: cover;
              background-repeat: no-repeat;
              font-size: 3vw}
