html, input {
  font-family: 'Indie Flower', cursive
}

/* HEADER (HOUSE ICON) */

.indexButton {
  width: 10%;
  float: right;
  margin: 1vw 5vw;
}

.indexButton:hover {
  transform: rotate(180deg);
}

/* Headings */
h1 {
  margin: 6vw 12vw 1vw 12vw;
  text-align: center;
  color: purple;
  font-size: 5vw;
}

h3 {
  margin: 1.5vw 12vw 1.5vw 12vw;
  text-align: center;
  color: yellow;
  font-size: 3vw;
  text-shadow: -1px -1px 0 #000,
		            1px -1px 0 #000,
		           -1px 1px 0 #000,
		            1px 1px 0 #000;
}

/* BACKGROUND IMAGE */
body {
  background-image: url("https://img.freepik.com/free-vector/white-magnetic-board_158677-76.jpg?size=626&ext=jpg&ga=GA1.1.1513971856.1644019200");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* HOMEPAGE flexbox*/
.container {
  display: flex;
  column-count: 2;
  justify-content: space-around;
}

.morningChecklist {
  flex: 1;
  text-align: left;
  color: blue;
  font-size: 2.5vw;
  margin: 0vw 1vw 1vw 11vw;
  padding: 0vw 4vw 1vw 4vw;
}

.extraActivities {
  text-align: center;
}

.extraActivityButton {
  border-radius: 40%;
}

.beforeBedChecklist  {
   flex: 2;
   text-align: left;
   color: green;
   font-size: 2.5vw;
   margin: 0vw 0vw 1vw 15vw;
}

/* TABLE on Activities List page and Checklists on HomePage*/
table, .input {
  margin: 2vw 12vw 2vw 12vw;
}

td, .inputField{
   padding: 1vw 3vw 1vw 0vw;
   color: red;
   font-size: 2.5vw;
}

th, .input  {
   text-align: left;
   padding: 1vw 4vw 1vw 0vw;
   color: blue;
   font-size: 2.5vw;
}


/* DELETE/ERASER BUTTON */
.erase {
  background-color: #F5E050;
  font-size: 2.5vw;
}

.erase:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

/* OTHER SUBMIT BUTTONS */
.submit {
  background-color: red;
  font-size: 2.5vw;
  text-align: center;
}

.submit:hover {
  cursor: pointer;
  filter: invert(1);
}


/* LINKS */
a {
  text-decoration: none;
  color:inherit;
}

.new:hover, .descriptionList:hover {
  text-transform: uppercase;
  filter: invert(1);
}

.new {
  margin: 1vw 12vw;
  font-size: 2.5vw;
  color: green;
  text-decoration: underline;
}
